# Unity generated                       #
# ===================================== #
Library/
library/
Temp/
temp/
Obj/
obj/
UnityGenerated
unityGenerated

*.unityproj
*.unitypackage


# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

ExportedObj/

*.svd
*.csproj
*.userprefs
*.pidb
*.suo
*.sln
*.user
